<ul class="questions">
    {% for question in questions %}
    <li class="question">
        <div class="question-content">
            <div class="question-date">{{ moment(question.timestamp).fromNow() }}</div>
            <div class="question-author"><a href="{{ url_for('.user', username=question.author.username) }}">{{ question.author.username }}提问：</a></div>
            <div class="question-body">
                {% if question.body_html %}
                    {{ question.body_html | safe }}
                {% else %}
                    {{ question.body }}
                {% endif %}
            </div>
            <div class="question-footer">
                {% if current_user == question.author %}
                <a href="{{ url_for('.edit_question', id=question.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit_question', id=question.id) }}">
                    <span class="label label-danger">编辑 [管理员]</span>
                </a>
                {% endif %}
                <a href="{{ url_for('.question', id=question.id) }}">
                    <span class="label label-default">全部回答[{{ question.answers.count() }}]</span>
                </a>
                <a href="{{ url_for('.question', id=question.id) }}">
                    <span class="label label-default">我来回答</span>
                </a>
            </div>
        </div>
    </li>
    <ul class="answers">
        {% if not all %}
            {% set answers_r = question.top_answers(limit_row=row) %}
            {% if answers_r and answers_r[1] != [] %}
                {% for answer_id in answers_r[1] %}
                     {% set answer =  Answer.query.get(answer_id) %}
                        {% include '_answers_no_loop.html' %}
                {% endfor %}
            {% else %}
                {% set answers = question.answers.order_by(Answer.timestamp.desc()).limit(row).all() %}
                {% include '_answers.html' %}
            {% endif %}
        {% else %}
            {% set answers = question.answers.order_by(Answer.timestamp.desc()).limit(row).all() %}
                {% include '_answers.html' %}
        {% endif %}
    </ul>
    {% endfor %}
</ul>
