{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}X乎{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}游客{% endif %}</h1>
</div>
<div>
    <h3>你的时间线：</h3>
</div>

{% include '_questions.html' %}

{% if pagination_questions %}
<div class="pagination_questions">
    {{ macros.pagination_widget(pagination_questions, '.index') }}
</div>
{% endif %}
{% endblock %}
