{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}X乎 - 问题{% endblock %}

{% block page_content %}
{% include '_questions.html' %}
<!--<h4 id="answers">回答</h4>-->
{% if current_user.can(Permission.WRITE_ARTICLES) %}
<div class="answer-form">
    {{ wtf.quick_form(form) }}
</div>
{% endif %}
{% include '_answers.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.question', fragment='#answer', id=questions[0].id) }}
</div>
{% endif %}
{% endblock %}